
       
*{
 margin: 0;
padding: 0;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.parent
{
    border: 20px solid black;
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.subParent
{
    width:450px ;
    height: 550px;
    background-color: rgb(122, 32, 32);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    filter: blur(2px);

}
.child1
{
    width: 85%;
    height:30% ;
    background-color: rgb(252, 200, 122);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.child2
{
    width: 95%;
    height:35% ;
    background-color: rgb(160, 32, 32);
    border-radius: 10px;
}
.child3
{
    width: 85%;
    height:30% ;
    background-color:rgb(161, 4, 4);
    border-bottom-right-radius: 3rem;
    border-top-left-radius: 0.5rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 1rem;
}