
        *{
            margin: 0;
            padding: 0;

        }

        body{
            display: flex;
            /* justify-content: space-between; */
            align-items: center;
            flex-direction: column;
            height: 100vh;
        }

        .parent{
            box-shadow: 5px 5px 10px 10px rgba(128, 128, 128, 0.452);
            /* border: 2px solid red; */
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
 

        }

        .child1{
            width: 100px;
            height: 50px;
            /* border: 2px solid red; */
            background-image: linear-gradient( black , red, black);
        }



        .child2{
            width: 200px;
            height: 50px;
            /* border: 2px solid red; */
            background-image: linear-gradient( black , red, black);
            opacity: 0.5;
            filter: blur(2px);

        }

        .child3{
            width: 50px;
            height: 50px;
            /* border: 2px solid red; */
            background-image: linear-gradient( black , red, black);
        }

        .line{
            width: 10px;
            height: 50px;
            background-color: black;
            box-shadow: 20px 0px black;
        }

        .parent1{
            box-shadow: 5px 5px 10px 10px rgba(128, 128, 128, 0.452);
            /* border: 2px solid red; */
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
 

        }
        .child4{
            width: 100px;
            height: 50px;
            /* border: 2px solid red; */
            background-image: linear-gradient( black , green, black);
        }
        .child5{
            width: 200px;
            height: 50px;
            /* border: 2px solid red; */
            background-image: linear-gradient( black , green, black);
            opacity: 0.5;
            filter: blur(2px);

        }
        .child6{
            width: 50px;
            height: 50px;
            /* border: 2px solid red; */
            background-image: linear-gradient( black , green, black);
        }

        .parent2{
            box-shadow: 5px 5px 10px 10px rgba(128, 128, 128, 0.452);
            /* border: 2px solid red; */
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
 

        }
        .child7{
            width: 100px;
            height: 50px;
            /* border: 2px solid red; */
            background-image: linear-gradient( black , blue, black);
        }
        .child8{
            width: 200px;
            height: 50px;
            /* border: 2px solid red; */
            background-image: linear-gradient( black , blue, black);
            opacity: 0.5;
            filter: blur(2px);

        }
        .child9{
            width: 50px;
            height: 50px;
            /* border: 2px solid red; */
            background-image: linear-gradient( black , blue, black);
        }

   